# Dependencies
/node_modules
/
# Build files
.next/
out/
build/

# Local environment variables
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm_output.log

# Test files
coverage/
.DS_Store